<table class="table table-striped table-hover">
    <thead>
            <th scope="col">Donation No</th>
            <th scope="col">Blood Group</th>
            <th scope="col">Donation Date</th>
            <th scope="col">Donation Amount</th>
    </thead>
    <tbody>
            <tr *ngFor="let user of list">
                    <td>{{user.donate_id}}</td>
                    <td>{{user.donor_id.blood_group}}</td>
                    <td>{{user.donate_date}}</td>
                    <td>{{user.donated_amount}}</td>
            </tr>
    </tbody>
</table>

