<!-- <h1>Contact Us</h1>
<div class="container">
<div class="form-group">
  <label for="">Name</label>
  <input type="text" class="form-control">
</div>
<div class="form-group">
  <label for="">Email</label>
  <input type="email" class="form-control">
</div>
<div class="form-group">
  <label for="">Message</label>
  <textarea rows="5" class="form-control"></textarea>
</div>

<div class="form-group">
  <button class="btn btn-success">Submit</button>
</div>
</div> -->


<div class="container">
    <div style="text-align:center">
      <h1>Contact Us</h1>
          </div>
    <div class="row">
      <div class="column">
        <img src="../assets/image/n4.jpg" style="width:100%">
        <h3>CONTRIBUTE US</h3>
      <p>It may be small for you but it really change many lives. Come along!</p>

      </div>
      <div class="column">
        <!-- <form action="/action_page.php">
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">
          <label for="email">Mail ID</label>
          <input type="email" id="email" name="email" placeholder="Your email..">
          <label for="contact">Mobile No</label>
          <input type="text" id="contact" name="contact" placeholder="Mobile No..">
          <label for="country">Country</label>
          <select id="country" name="country">
            <option value="australia">India</option>
            <option value="canada">Other</option> -->
            <!-- <option value="usa">USA</option> -->
          <!-- </select>
          <label for="city">City</label>
          <select id="city" name="city">
            <option value="jodhpur">Jodhpur</option>
            <option value="pune">Pune</option>
            <option value="agra">Agra</option>
          </select>
          <label for="query">Query Subject</label>
          <select id="query" name="query">
            <option value="helpline">Helpline</option>
            <option value="media">Media/Marketing</option>
            <option value="other">Other</option>
          </select>

          <label for="subject">Subject</label>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
          <input type="submit" value="Submit">
        </form>
      </div> -->
      <h2>Address :</h2>
        <P>Save Life India
        c/o Near sarafa Bazar
        # 678, St. sarafa Road,
        Jodhpur, Rajasthan 342001 India
      </P>
        
      <h5>Email:aryanjain1997@gmail.com</h5>
      
      <h2>Address :</h2>
      <P>Save Life India
      c/o Near Jalori Gate
      # 420, St. Excel Road,
      Ratnagiri, Maharashtra 32420 India
      </P>
      
    <h5>Email:raksha@gmail.com</h5>

    <h2>Address :</h2>
    <P>Save Life India
    c/o Near Mahamandir
    # 678, St. Pal Road,
    Agra, Uttar Pradesh 34250 India
    </P>
    
    <h5>Email:chetan@gmail.com</h5>
    </div>
  </div>