<table class="table table-striped table-hover">
  <thead>
      <th scope="col">Request No</th>
      <th scope="col">Name</th>
      <th scope="col">Blood Group</th>
      <th scope="col">Phone</th>
      <th scope="col">Require Date</th>
      <th scope="col">Require Quantity</th> 
  </thead>
  <tbody>
      <tr *ngFor="let user of list">
          <td>{{user.req_id}}</td>
          <td>{{user.requster_id.fName}}</td>
          <td>{{user.blood_group}}</td>
          <td>{{user.requster_id.contact}}</td>
          <td>{{user.require_date | date:'dd/MM/yyyy'}}</td>
          <td>{{user.requsted_qty}}</td>
      </tr>
  </tbody>
</table>