<!-- <div class="container">
    <div class="col-md-12">
      <div class="scroll" class="col-md-12">
          <div id="myCarousel" class="carousel slide" data-ride="carousel"> 
              
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="carousel-caption" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol>

              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src="../assets/image/21.png" width = "100%" style="height: 400px" alt="Los Angeles">
                  <div class="carousel-caption">
                    
                  </div>
                </div>
            
                <div class="item">
                  <img src="../assets/image/21.png" width = "100%" style="height: 400px"  alt="Chicago">
                  <div class="carousel-caption">
                      <h3>Donate Blood</h3>
                  </div>
                </div>
            
                <div class="item">
                  <img src="../assets/image/bd_logo.png"  width = "100%" style="height: 400px"  alt="New York">
                  <div class="carousel-caption">
                      <h3></h3>
                  </div>
                </div>
              </div>
          
              <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
              </a>
            </div> 
            <br/> 
          
      </div>
    </div>    
</div>


    <div class="footer">
        <p>© 2020 Indianbloodbank.com

            Powered by SunBeam</p>
      </div> -->

      <!-- <!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    
  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#"> <img style =  " height:0.9cm;"src="./assets/image/logo.jpeg" ></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
         <li><a href="#">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact</a></li> -->
        <!-- <li class="active">
          <a routerLink="/home">Home</a>
      </li> -->
      <!-- <li><a routerLink="/register">REGISTER AS DONOR</a></li>
      <li><a routerLink="/request">REQUEST BLOOD</a></li>
      <li><a routerLink="/about">ABOUT US</a></li>
      <li><a routerLink="/contact">CONTACT US</a></li>
      <li><a routerLink="/bloodtips">BLOOD TIPS</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="myCarousel" class="carousel slide" data-ride="carousel"> -->
    <!-- Indicators -->
    <!-- <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol> -->

    <!-- Wrapper for slides -->
    <!-- <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="https://placehold.it/1200x400?text=IMAGE" alt="Image">
        <div class="carousel-caption">
          <h3>Sell $</h3>
          <p>Money Money.</p>
        </div>      
      </div>

      <div class="item">
        <img src="https://placehold.it/1200x400?text=Another Image Maybe" alt="Image">
        <div class="carousel-caption">
          <h3>More Sell $</h3>
          <p>Lorem ipsum...</p>
        </div>      
      </div>
    </div> -->

    <!-- Left and right controls -->
    <!-- <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
  
<div class="container text-center">    
  <h3>What We Do</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>Current Project</p>
    </div>
    <div class="col-sm-4"> 
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>Project 2</p>    
    </div>
    <div class="col-sm-4">
      <div class="well">
       <p>Some text..</p>
      </div>
      <div class="well">
       <p>Some text..</p>
      </div>
    </div>
  </div>
</div><br>

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>

</body>
</html>  -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    
  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }
  </style>
</head>
<body>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>
    
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img  style="height: 400px;" src="../assets/image/new.jpg" alt="Image">
            <div class="carousel-caption" style="color:red;">
              <h3>Your blood can give a life to someone</h3>
              <p>Give Blood, Give Life.</p>
            </div>      
          </div>
    
          <!-- <div class="item">
            <img src="../assets/image/BDC.jpg" alt="Image">
            <div class="carousel-caption">
              <h3>More Sell $</h3>
              <p>Lorem ipsum...</p>
            </div>      
          </div> -->
        </div>
    
        <!-- Left and right controls -->
        <!-- <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a> -->
    </div>
      
    <div class="container text-center">    
      <h3>What We Do</h3><br>
      <div class="row">
        <div class="col-sm-4">
          <img src="../assets/image/2seconds.png" class="img-responsive" style="width:100%; height:auto;" alt="Image">
          <p>2 SECONDS<br>
            Every 2 seconds,
            someone in the India needs blood.<br>
            Five minutes of your time + 350 ml of your blood=One life saved</p>
        </div>
        <div class="col-sm-4"> 
          <img src="../assets/image/3lives.png" class="img-responsive" style="width:100%" alt="Image">
          <p>3 LIVES<br>
            Every pint of blood can be split into platelets, plasma, and red blood cells,
            which can save 3 lives.</p>    
        </div>
        <div class="col-sm-4">
          <div class="well" style="text-align: left;">
           <p>Blood is universally recognized as the most precious element that sustains life.
              It saves innumerable lives across the world in a variety of conditions.
              The need for blood is great - on any given day, approximately 39,000 units of Red Blood Cells are needed.
              More than 29 million units of blood components are transfused every year.</p>
          </div>
          <div class="well" style="text-align: left;">
           <p>Despite the increase in the number of donors,
              blood remains in short supply during emergencies,
              mainly attributed to the lack of information and accessibility.
              We positively believe this tool can overcome most of these
              challenges by effectively connecting
              the blood donors with the blood recipients.</p>
          </div>
        </div>
      </div>
    </div><br>
    
    <footer class="container-fluid text-center">
      <p> © 2020    |   Privacy Policy   |   Website designed by Aryan</p>
    </footer>
    
    </body>
    </html>
        
    