
<table class="table table-striped table-hover">
    <thead>
            <th scope="col">Request No</th>
            <th scope="col">Name</th>
            <th scope="col">Blood Group</th>
            <th scope="col">Require Message</th>
            <th scope="col">Require Date</th>
            <th scope="col">Require Amount</th>
            <th scope="col">Request Status</th>
    </thead>
    <tbody>
            <tr *ngFor="let user of list">
                    <td>{{user.requster_id.u_id}}</td>
                    <td>{{user.requster_id.fName}}</td>
                    <td>{{user.blood_group}}</td>
                    <td>{{user.request_msg}}</td>
                    <td>{{user.require_date}}</td>
                    <td>{{user.requsted_qty}}</td>
            </tr>
    </tbody>
</table>